 ol {
     background-color: yellow;
 }

 ol li.par{
    color: green;
 }

 ol li.impar {
     text-transform: uppercase;
 }

 .titulo {
     color: red;
 }

 .italico {
     font-size: 40px;
     border: 1px solid black;
 }
